<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive" [src]="recipe.imagePath" alt="{{recipe.name}}" style="max-height: 250px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1> {{recipe.name}}
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Actions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor:pointer" (click)="add()">Add Ingredients</a>
        </li>
        <li>
          <a (click)="edit()" style="cursor:pointer">Edit</a>
        </li>
        <li>
          <a (click)="delete()" style="cursor:pointer">Delete</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
        {{ingredient.name}} - ({{ingredient.amount}})
      </li>
    </ul>
  </div>
</div>