<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="add(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <input ngModel [(ngModel)]="model.id" type="hidden" name="id" id="id">
          <label for="name">Name</label>
          <input ngModel required type="text" class="form-control" id="name" required name="name" [(ngModel)]="model.name">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input ngModel min="1" [pattern]="'^[1-9]+[0-9]*$'" required type="number" id="amount" name="amount" required [(ngModel)]="model.amount"
            class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Add</button>
          <button class="btn btn-danger" (click)="remove()" type="button" [disabled]="!f.valid">Delete</button>
          <button class="btn btn-primary" (click)="clear()" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>